@{
    ViewBag.Title = string.Format(ResourceStrings.Text_Identification, ResourceStrings.Text_ApplicationSettings);
}

<script>
    $(function () {
        $("#gridApplicationSettings").kendoGrid({
            columns: [
                {
                    headerTemplate: "<input id='chBxSelectAll' type='checkbox' />",
                    template: "<input id='chBxSelectRow' class='gridCheckBox' type='checkbox' />",
                    filterable: false, sortable: false, groupable: false, width: 28
                },
                { field: "Id", title: "@ResourceStrings.Display_Name_ApplicationSettings_Id", hidden: true },
                { field: "KeyName", title: "@ResourceStrings.Display_Name_ApplicationSettings_KeyName" },
                { field: "Separator", title: "@ResourceStrings.Display_Name_ApplicationSettings_Separator" },
                { field: "Value", title: "@ResourceStrings.Display_Name_ApplicationSettings_Value" }
            ],
            pageable: { input: false, numeric: true, refresh: true, pageSizes: [15, 20, 30, 40, 50] },
            groupable: true,
            sortable: { allowUnsort: false },
            filterable: true,
            resizable: true,
            dataBound: onDataBound,
            dataSource: {
                serverPaging: true, serverFiltering: true, serverSorting: true, pageSize: '@ApplicationGlobals.GridMinRows',
                page: getPage("gridApplicationSettings"),
                sort: getSort("gridApplicationSettings") == null ? { field: "KeyName", dir: "asc" } : getSort("gridApplicationSettings"),
                filter: getFilter("gridApplicationSettings"),
                schema: {
                    data: "Data", total: "Total",
                    model: {
                        id: "Id",
                        fields: {
                            "Id": { type: "number" },
                            "KeyName": { type: "string" },
                            "Separator": { type: "string" },
                            "Value": { type: "string" }
                        }
                    }
                },
                transport: {
                    read: {
                        url: "ApplicationSettings/ApplicationSettingsPage",
                        contentType: "application/json; charset=utf-8",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                }
            }
        });

        $("#gridApplicationSettings").attr("hiddenSelectedRows", "#hidGridCheckedRowsApplicationSettings");
    });
</script>

@using (Html.BeginForm(string.Empty, "ApplicationSettings", FormMethod.Post))
{
    <div class="content">
        <div id="error-display" class="error">
            @ViewBag.ErrorMessage
        </div>

        @Html.GenerateBreadCrumbs("Application,CompanyInApplication", ResourceStrings.Text_ApplicationSettings)
        @Html.GenerateMasterDetail("Application,CompanyInApplication")

        <div class="padding-bottom-5">
            @Html.Button(ResourceStrings.Text_New, new { @class = "insert-button", @type = "button", @id = "imgBtNew" }, AuthorizeUser.CanPerformAction(PageId.PAGE_APPLICATIONSETTINGS, DataOperation.CREATE))
            @Html.Button(ResourceStrings.Text_Edit_View, new { @class = "edit-button", @type = "button", @id = "imgBtEdit" }, AuthorizeUser.CanPerformAction(PageId.PAGE_APPLICATIONSETTINGS, DataOperation.READ) || AuthorizeUser.CanPerformAction(PageId.PAGE_APPLICATIONSETTINGS, DataOperation.UPDATE))
            @Html.Button(ResourceStrings.Text_Copy, new { @class = "copy-button", @type = "button", @id = "imgBtCopy" }, AuthorizeUser.CanPerformAction(PageId.PAGE_APPLICATIONSETTINGS, DataOperation.CREATE))
            @Html.Button(ResourceStrings.Text_Delete, new { @class = "delete-button", @type = "button", @id = "imgBtDelete" }, AuthorizeUser.CanPerformAction(PageId.PAGE_APPLICATIONSETTINGS, DataOperation.DELETE))
        </div>

        @(Html.Search("ApplicationSettingsSearch").Form("ApplicationSettingsForm").Grid("gridApplicationSettings"))
        <div id="gridApplicationSettings"></div>
    </div>

    @Html.Hidden("hidGridCheckedRowsApplicationSettings")
}

<div id="window"></div>
@Scripts.Render("~/bundles/popup", "~/bundles/grid")