@{
    ViewBag.Title = string.Format(ResourceStrings.Text_Identification, ResourceStrings.Text_SecurityType);
}

<script>
    $(function () {
        $("#gridSecurityType").kendoGrid({
            columns: [
                {
                    headerTemplate: "<input id='chBxSelectAll' type='checkbox' />",
                    template: "<input id='chBxSelectRow' class='gridCheckBox' type='checkbox' />",
                    filterable: false, sortable: false, groupable: false, width: 28
                },
                { field: "Code", title: "@ResourceStrings.Display_Name_SecurityType_Code" },
                { field: "Description", title: "@ResourceStrings.Display_Name_SecurityType_Description" },
                { field: "Id", title: "@ResourceStrings.Display_Name_SecurityType_Id", hidden: true }
            ],
            pageable: { input: false, numeric: true, refresh: true, pageSizes: [15, 20, 30, 40, 50] },
            groupable: true,
            sortable: { allowUnsort: false },
            filterable: true,
            resizable: true,
            dataBound: onDataBound,
            dataSource: {
                serverPaging: true, serverFiltering: true, serverSorting: true, pageSize: '@ApplicationGlobals.GridMinRows',
                page: getPage("gridSecurityType"),
                sort: getSort("gridSecurityType") == null ? { field: "Code", dir: "asc" } : getSort("gridSecurityType"),
                filter: getFilter("gridSecurityType"),
                schema: {
                    data: "Data", total: "Total",
                    model: {
                        id: "Id",
                        fields: {
                            "Code": { type: "string" },
                            "Description": { type: "string" },
                            "Id": { type: "number" }
                        }
                    }
                },
                transport: {
                    read: {
                        url: "SecurityType/SecurityTypePage",
                        contentType: "application/json; charset=utf-8",
                        type: "POST",
                        dataType: "json"
                    },
                    parameterMap: function (data) {
                        return JSON.stringify(data);
                    }
                }
            }
        });

        $("#gridSecurityType").attr("hiddenSelectedRows", "#hidGridCheckedRowsSecurityType");
    });
</script>

@using (Html.BeginForm(string.Empty, "SecurityType", FormMethod.Post))
{
    <div class="content">
        <div id="error-display" class="error">
            @ViewBag.ErrorMessage
        </div>

        <div class="padding-bottom-5">
            @Html.Button(ResourceStrings.Text_New, new { @class = "insert-button", @type = "button", @id = "imgBtNew" }, AuthorizeUser.CanPerformAction(PageId.PAGE_SECURITYTYPE, DataOperation.CREATE))
            @Html.Button(ResourceStrings.Text_Edit_View, new { @class = "edit-button", @type = "button", @id = "imgBtEdit" }, AuthorizeUser.CanPerformAction(PageId.PAGE_SECURITYTYPE, DataOperation.READ) || AuthorizeUser.CanPerformAction(PageId.PAGE_SECURITYTYPE, DataOperation.UPDATE))
            @Html.Button(ResourceStrings.Text_Copy, new { @class = "copy-button", @type = "button", @id = "imgBtCopy" }, AuthorizeUser.CanPerformAction(PageId.PAGE_SECURITYTYPE, DataOperation.CREATE))
            @Html.Button(ResourceStrings.Text_Delete, new { @class = "delete-button", @type = "button", @id = "imgBtDelete" }, AuthorizeUser.CanPerformAction(PageId.PAGE_SECURITYTYPE, DataOperation.DELETE))
        </div>

        @(Html.Search("SecurityTypeSearch").Form("SecurityTypeForm").Grid("gridSecurityType"))
        <div id="gridSecurityType"></div>
    </div>

    @Html.Hidden("hidGridCheckedRowsSecurityType")
}

<div id="window"></div>
@Scripts.Render("~/bundles/popup", "~/bundles/grid")